[mysqld]
# Allow MySQL to listen on all available network interfaces.
bind-address = 0.0.0.0  

# Unique ID for this MySQL server participating in replication.
server-id = 1  

# Enables binary logging for replication.
log-bin = mysql-bin  
