[mysqld]
bind-address = 0.0.0.0  # Allow MySQL to listen on all available network interfaces.
server-id = 1  # Unique ID for this MySQL server participating in replication.
log-bin = mysql-bin  # Enables binary logging for replication.
